<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

        <title>Recommender system</title>

        <link rel="stylesheet" type="text/css" href="/static/index.css">
        <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    </head>

    <body>

        <div id="container">

            <div>
                <form id="formId">
                    <select class="form-control" id="BusinessSegment"></select>
                    <select class="form-control" id="Type"></select>
                    <select class="form-control" id="InsuredState"></select>
                    <select class="form-control" id="BrokerCompany"></select>
                    <select class="form-control" id="BrokerState"></select>
                    <select class="form-control" id="UnderwriterTeam"></select>
                    <select class="form-control" id="BusinessClassification"></select>

                    <button type="button" class="btn btn-primary btn-lg btn-block" onclick="submitForm()">Submit</button>
                </form>
    
            </div>

            <div style="border:1px solid blue">
                <h1>Results</h1>
                <div style="text-align:center"> <img id="my_gif" src="/static/giphy.gif" alt="OVO JE GIF" style="display:none"></div>
                <ul id = "list" name = "list">

                </ul>
            </div>

        </div>

        <script src="/static/index.js"></script>
    
</body>
</html>